

#title-image {
    width: 100%;
    height: auto;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
}

#front-image-icon {
    width: 300px;
    height: auto;
}

#recipe-image {
    width: 100%;
    height: auto;
}