
.about-me {
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;


    padding: 30px;
    
}

#recipe-name {
    background-color: rgb(197, 180, 165);
    padding: 30px;
    margin: 0;

}

#about-us-header {
    background-color: rgb(197, 180, 165);
    margin: 0;
    text-align: center;
    padding-top: 60px;
 
    
    
}

#recipe-description {
    padding: 10px;
}
